In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cargar el DataFrame imputado
df_imputed = pd.read_excel('../data_out/Hospedajes_RD-IMPUTED V2.xlsx')

In [3]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5038 entries, 0 to 5037
Data columns (total 45 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID_ALOJAMIENTO                          5038 non-null   int64
 1   PRECIO_USD                              5038 non-null   float64
 2   MAX_HUESPEDES                           5038 non-null   float64
 3   CANTIDAD_HABITACIONES                   5038 non-null   float64
 4   CANTIDAD_CAMAS                          5038 non-null   float64
 5   CANTIDAD_BAÑOS                          5038 non-null   float64
 6   ES_SUPER_ANFITRION                      5038 non-null   int64
 7   CANTIDAD_EVALUACIONES                   5038 non-null   float64
 8   CALIFICACION_GENERAL                    5038 non-null   float64
 9   CALIFICACION_LIMPIEZA                   5038 non-null   float64
 10  CALIFICACION_VERACIDAD                  5038 non-null   float64
 11  CALIFICACION_LLEGADA                    5038 non-null   float64
 12  CALIFICACION_COMUNICACION               5038 non-null   float64
 13  CALIFICACION_UBICACION                  5038 non-null   float64
 14  CALIFICACION_CALIDAD_PRECIO             5038 non-null   float64
 15  FLAG_RESERV_INMEDIATA                   5038 non-null   int64
 16  FLAG_LLEGADA_AUTONOMA                   5038 non-null   int64
 17  FLAG_CANCELAC_GRATUITA                  5038 non-null   int64
 18  FLAG_ACEPT_MASCOTAS                     5038 non-null   int64
 19  TIPO_ALOJAMIENTO_Alojamiento            5038 non-null   int64
 20  TIPO_ALOJAMIENTO_Apartamento            5038 non-null   int64
 21  TIPO_ALOJAMIENTO_Apartotel              5038 non-null   int64
 22  TIPO_ALOJAMIENTO_Barco                  5038 non-null   int64
 23  TIPO_ALOJAMIENTO_Cabaña                 5038 non-null   int64
 24  TIPO_ALOJAMIENTO_Casa                   5038 non-null   int64
 25  TIPO_ALOJAMIENTO_Habitación             5038 non-null   int64
 26  TIPO_ALOJAMIENTO_Hostal                 5038 non-null   int64
 27  TIPO_ALOJAMIENTO_Hotel                  5038 non-null   int64
 28  TIPO_ALOJAMIENTO_Villa                  5038 non-null   int64
 29  ESPACIO_ALOJAMIENTO_Alojamiento entero  5038 non-null   int64
 30  ESPACIO_ALOJAMIENTO_Habitación          5038 non-null   int64
 31  UBICACION_Bayahibe                      5038 non-null   int64
 32  UBICACION_Boca Chica                    5038 non-null   int64
 33  UBICACION_Bávaro                        5038 non-null   int64
 34  UBICACION_Cabarete                      5038 non-null   int64
 35  UBICACION_Dominicus                     5038 non-null   int64
 36  UBICACION_Guayacanes                    5038 non-null   int64
 37  UBICACION_Juan Dolio                    5038 non-null   int64
 38  UBICACION_La Romana                     5038 non-null   int64
 39  UBICACION_Puerto Plata                  5038 non-null   int64
 40  UBICACION_Punta Cana                    5038 non-null   int64
 41  UBICACION_Samaná                        5038 non-null   int64
 42  UBICACION_Santiago                      5038 non-null   int64
 43  UBICACION_Santo Domingo                 5038 non-null   int64
 44  UBICACION_Sosua                         5038 non-null   int64
dtypes: float64(13), int64(32)
memory usage: 1.7 MB

In [4]:
# Definir las columnas numéricas y categóricas
numerical_columns = ['ID_ALOJAMIENTO','PRECIO_USD', 'MAX_HUESPEDES', 'CANTIDAD_HABITACIONES', 'CANTIDAD_CAMAS', 'CANTIDAD_BAÑOS',
                     'ES_SUPER_ANFITRION', 'CANTIDAD_EVALUACIONES', 'CALIFICACION_GENERAL', 'CALIFICACION_LIMPIEZA',
                     'CALIFICACION_VERACIDAD', 'CALIFICACION_LLEGADA', 'CALIFICACION_COMUNICACION',
                     'CALIFICACION_UBICACION', 'CALIFICACION_CALIDAD_PRECIO','FLAG_RESERV_INMEDIATA','FLAG_LLEGADA_AUTONOMA','FLAG_CANCELAC_GRATUITA','FLAG_ACEPT_MASCOTAS']

categorical_columns = ['TIPO_ALOJAMIENTO', 'ESPACIO_ALOJAMIENTO', 'UBICACION']

In [5]:
# Invertir el proceso de OneHotEncoding
def revert_one_hot_encoding(df, categorical_columns):
    df_reverted = df.copy()
    
    for col in categorical_columns:
        # Encontrar las columnas que pertenecen a la variable categórica original
        one_hot_cols = [c for c in df.columns if c.startswith(col + '_')]
        
        # Obtener el nombre original de la variable categórica
        def get_original_category(row):
            for c in one_hot_cols:
                if row[c] == 1:
                    return c.replace(col + '_', '')
            return np.nan
        
        # Aplicar la función para revertir OneHotEncoding
        df_reverted[col] = df.apply(get_original_category, axis=1)
        
        # Eliminar las columnas OneHotEncoded
        df_reverted.drop(columns=one_hot_cols, inplace=True)
    
    return df_reverted

In [6]:
# Revertir las variables categóricas
df_reverted = revert_one_hot_encoding(df_imputed, categorical_columns)

In [7]:
# Guardar el DataFrame resultante
df_reverted.to_excel('../data_out/Hospedajes_RD- V PBI.xlsx', index=False)

In [8]:
df_reverted

,ID_ALOJAMIENTO,PRECIO_USD,MAX_HUESPEDES,CANTIDAD_HABITACIONES,CANTIDAD_CAMAS,CANTIDAD_BAÑOS,ES_SUPER_ANFITRION,CANTIDAD_EVALUACIONES,CALIFICACION_GENERAL,CALIFICACION_LIMPIEZA,...,CALIFICACION_COMUNICACION,CALIFICACION_UBICACION,CALIFICACION_CALIDAD_PRECIO,FLAG_RESERV_INMEDIATA,FLAG_LLEGADA_AUTONOMA,FLAG_CANCELAC_GRATUITA,FLAG_ACEPT_MASCOTAS,TIPO_ALOJAMIENTO,ESPACIO_ALOJAMIENTO,UBICACION
0,1116127358790269056,48.0,4.000000,2.000000,1.0,1.000000,0,5.333333,4.960000,4.966667,...,4.966667,4.933333,4.966667,0,1,1,1,Apartamento,Alojamiento entero,Bayahibe
1,992297120667509888,65.0,4.666667,1.666667,1.0,1.666667,0,5.000000,4.200000,4.600000,...,4.800000,4.000000,4.000000,1,0,0,1,Habitación,Habitación,Santo Domingo
2,46279296,600.0,12.000000,6.000000,6.0,6.000000,0,21.666667,4.656667,4.600000,...,4.733333,4.833333,4.766667,0,0,1,1,Apartamento,Alojamiento entero,Puerto Plata
3,975318985183008128,2500.0,14.000000,7.000000,9.0,6.666667,0,6.666667,4.803333,4.966667,...,4.766667,4.966667,4.866667,1,1,0,0,Apartamento,Alojamiento entero,La Romana
4,714321440139540992,39.0,4.000000,2.000000,2.0,1.000000,0,15.666667,4.880000,4.800000,...,5.000000,4.800000,4.800000,0,1,1,0,Apartamento,Alojamiento entero,Puerto Plata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,1136427873332979968,100.0,5.000000,3.000000,3.0,2.000000,0,5.333333,4.610000,4.333333,...,4.733333,4.600000,4.433333,0,0,1,0,Apartotel,Alojamiento entero,Santo Domingo
5034,52225792,63.0,6.000000,3.000000,3.0,2.000000,0,23.000000,4.300000,4.700000,...,4.800000,4.600000,4.400000,1,1,1,0,Apartotel,Alojamiento entero,Santo Domingo
5035,1121112172224216960,70.0,4.000000,1.000000,1.0,1.000000,0,15.333333,4.593333,4.500000,...,4.866667,4.733333,4.600000,0,0,1,0,Apartotel,Habitación,Puerto Plata
5036,1013646414569117056,25.0,2.000000,1.000000,1.0,1.000000,0,9.000000,4.560000,4.900000,...,5.000000,4.400000,4.700000,1,0,1,0,Apartotel,Habitación,Samaná
5037,1107478604826540032,160.0,6.000000,3.000000,3.0,3.000000,0,10.000000,4.610000,4.566667,...,4.733333,4.666667,4.566667,0,0,1,0,Apartotel,Alojamiento entero,Puerto Plata

In [9]:
df_reverted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5038 entries, 0 to 5037
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_ALOJAMIENTO               5038 non-null   int64
 1   PRECIO_USD                   5038 non-null   float64
 2   MAX_HUESPEDES                5038 non-null   float64
 3   CANTIDAD_HABITACIONES        5038 non-null   float64
 4   CANTIDAD_CAMAS               5038 non-null   float64
 5   CANTIDAD_BAÑOS               5038 non-null   float64
 6   ES_SUPER_ANFITRION           5038 non-null   int64
 7   CANTIDAD_EVALUACIONES        5038 non-null   float64
 8   CALIFICACION_GENERAL         5038 non-null   float64
 9   CALIFICACION_LIMPIEZA        5038 non-null   float64
 10  CALIFICACION_VERACIDAD       5038 non-null   float64
 11  CALIFICACION_LLEGADA         5038 non-null   float64
 12  CALIFICACION_COMUNICACION    5038 non-null   float64
 13  CALIFICACION_UBICACION       5038 non-null   float64
 14  CALIFICACION_CALIDAD_PRECIO  5038 non-null   float64
 15  FLAG_RESERV_INMEDIATA        5038 non-null   int64
 16  FLAG_LLEGADA_AUTONOMA        5038 non-null   int64
 17  FLAG_CANCELAC_GRATUITA       5038 non-null   int64
 18  FLAG_ACEPT_MASCOTAS          5038 non-null   int64
 19  TIPO_ALOJAMIENTO             5038 non-null   object
 20  ESPACIO_ALOJAMIENTO          5038 non-null   object
 21  UBICACION                    5038 non-null   object
dtypes: float64(13), int64(6), object(3)
memory usage: 866.0+ KB